@import 'constants/variables';
@import 'base';

.loading-splash {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > div.splash-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
            width: 163px;
            height: 201px;
            user-select: none;
        }
        > span {
            font-size: 62px;
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            line-height: 62px;
            height: 62px;
            margin-top: 6px;
            height: fit-content;
            @include setColor(primary-one);
            user-select: none;
        }
        > shared-loading-bar {
            margin-top: 25px;
        }
    }
}