@import "constants/variables";
@import 'base';

div.table {
    > div.table-head {
        display: flex;
        align-items: stretch;
        width: 100%;
        > * {
            &:last-child {
                flex: 1;
            }
            &.resizable {
                border-right: 1px solid;
                border-right-color: map-get($colors, secondary-one);
            }
        }
    }
    > div.empty-hint {
        padding-top: 10px;
        height: 28px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: map-get($colors, secondary-one);
    }
}