@import "constants/variables";
@import "base";

a.menu-link {
    display: flex;
    align-items: center;
    gap: 9px;
    & img {
        height: 16px;
    }
    &.disabled {
        cursor: default;
    }
    &.active {
        @include setBgColor(secondary-two);
    }
    cursor: pointer;
    padding: 6px 23px 6px 23px;
}
