version: "3.8"

volumes:
  ignite-persistence-volume-1:
    external: true
  ignite-persistence-volume-2:
    external: true
    
networks:
  default:
    external:
      name: ogdt-fusion-dev

services:
  ignite-instance-1:
    container_name: apache-ignite-1
    image: apacheignite/ignite
    volumes:
      - <rootdir>/ignite/ignite-default-config.xml:/ignite-config/ignite-default-config.xml
      - ignite-persistence-volume-1:/opt/storage
    environment:
      - CONFIG_URI=/ignite-config/ignite-default-config.xml
      - OPTION_LIBS=control-center-agent
    ports:
      - 11211:11211
      
  ignite-instance-2:
    container_name: apache-ignite-2
    image: apacheignite/ignite
    volumes:
      - <rootdir>/ignite/ignite-default-config.xml:/ignite-config/ignite-default-config.xml
      - ignite-persistence-volume-2:/opt/storage
    environment:
      - CONFIG_URI=/ignite-config/ignite-default-config.xml
      - OPTION_LIBS=control-center-agent
    ports:
      - 11212:11211