@import 'constants/variables';
@import 'base';

.global-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include setBgColor(primary-three);
}

$header-size: 36px;

.header {
    width: 100%;
    height: $header-size;
    @include setBgColor(secondary-three);
}

.view-container {
    height: calc(100% - $header-size);
    > *:nth-child(1) {
        height: 100%;
    }
}