openapi: 3.0.3
info:
  title: Fusion API
  description: OpenAPI 3.0.3 specification for Fusion REST API 1.0.0
  version: 1.0.0
 
servers:
  - url: https://fusion.cloud0.agamis.io/api/v1
    description: Cloud 0 (EU) main production server
  - url: https://fusion.iat.cloud0.openrichmedia.org/api/v1
    description: Internal staging (Internal Acceptance Test) for ORMI testing

tags:
  - name: User
  - name: Profile
  - name: Organization
  - name: OrganizationType

paths:
  /users:
    $ref: "./routes/user/repo.yaml"
  /user/{id}:
    $ref: "./routes/user/entity.yaml"
  /user/{id}/profiles:
    $ref: "./routes/user/profile/repo.yaml"

  /profiles:
    $ref: "./routes/profile/repo.yaml"
  /profile/{id}:
    $ref: "./routes/profile/entity.yaml"
  /profile/{id}/user:
    $ref: "./routes/profile/user/entity.yaml"

  /organizations:
    $ref: "./routes/organization/repo.yaml"
  /organization/types:
    $ref: "./routes/organization/type/repo.yaml"
  /organization/type/{id}:
    $ref: "./routes/organization/type/entity.yaml"
  /organization/{id}:
    $ref: "./routes/organization/entity.yaml"

  # /groups:
  #   $ref: "./routes/group/repo.yaml"
  # /group/{id}:
  #   $ref: "./routes/group/entity.yaml"

  # /applications:
  #   $ref: "./routes/application/repo.yaml"
  # /application/{id}:
  #   $ref: "./routes/application/entity.yaml"

components:
  schemas:
    $ref: "./schemas/_index.yaml"
  parameters:
    $ref: "./parameters/_index.yaml"
  responses:
    $ref: "./responses/_index.yaml"
                          
                          
