version: "3.8"

volumes:
  ignite-persistence-volume-1:
  ignite-persistence-volume-2:
    
networks:
  ignite

services:
  ignite-instance-1:
    container_name: apache-ignite-1
    image: apacheignite/ignite
    volumes:
      - ~/ignite/ignite-config.xml:/ignite-config/ignite-config.xml
      - ignite-persistence-volume-1:/opt/storage
    environment:
      - CONFIG_URI=/ignite-config/ignite-config.xml
      - OPTION_LIBS=control-center-agent
    ports:
      - 11211:11211
      
  ignite-instance-2:
    container_name: apache-ignite-2
    image: apacheignite/ignite
    volumes:
      - ~/ignite/ignite-config.xml:/ignite-config/ignite-config.xml
      - ignite-persistence-volume-2:/opt/storage
    environment:
      - CONFIG_URI=/ignite-config/ignite-config.xml
      - OPTION_LIBS=control-center-agent
    ports:
      - 11212:11211