@import "constants/variables";
@import 'base';

$gap: 9px;

a.menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    @include setColor(primary-one);
    @include setDecorationColor(primary-one);
    // adding +5px which is half of the icons mean width
    gap: calc($gap + 5px);
    padding: 6px 23px 6px calc(23px + 5px);
    font-size: 12px;
    > div {
        height: 16px;
        width: 1px;
        display: flex;
        justify-content: center;
        > img {
            height: 16px;
        }
    }
    &.disabled {
        cursor: default;
    }
    &.active, &:hover {
        @include setBgColor(secondary-two);
    }
    cursor: pointer;
}
