@import "constants/variables";
@import 'base';

div.cell {
    display: flex;
    align-items: center;
    padding: 9px 8px 9px 8px;
    font-size: 12px;
    // region text overflow start
    > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    // region text overflow end
}